[bumpversion]
current_version = 2.0.0
commit = True
tag = False

[bumpversion:file:pyproject.toml]
[bumpversion:file:src/clinvarbitration/__init__.py]
[bumpversion:file:.github/workflows/docker.yaml]
