// data dir - used to provide inputs and generate outputs
params.data = "data"
params.gff3 = "${params.data}/Homo_sapiens.GRCh38.115.gff3.gz"
params.ref_fa = "${params.data}/ref.fa"

// if required, grab the latest data from ClinvArbitration and process
params.submission_summary = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/submission_summary.txt.gz"
params.variant_summary = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz"

// output directory
params.output_dir = "nextflow_outputs"

// choose the genome build
params.assembly = "GRCh38"

nextflow.enable.strict = true
params.container = "clinvarbitration:local"
docker.enabled = true
