// output dir - overwrite this using the "--output_dir" CLi flag
params.output_dir = "nextflow_outputs"

// input URLs
params.submissions = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/submission_summary.txt.gz"
params.sub_sum_output = "${params.output_dir}/submission_summary.txt.gz"
params.variants = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz"
params.var_sum_output = "${params.output_dir}/variant_summary.txt.gz"

// choose the genome build
params.assembly = "GRCh38"

// path to the GFF3 containing gene/transcript info
// need to add this at runtime with --gff3 <FILE>

// physically copy files where they will be accessible after container closes
workflow.output.mode = "copy"

nextflow.enable.strict = true
