// data dir - used to provide inputs and generate outputs
params.data = "data"
params.gff3 = "${params.data}/Homo_sapiens.GRCh38.113.gff3.gz"
params.ref_fa = "${params.data}/ref.fa"
params.clinvar_submissions = "${params.data}/submission_summary.txt.gz"
params.clinvar_variants = "${params.data}/variant_summary.txt.gz"

// output directory
params.output_dir = "nextflow_outputs"

// choose the genome build
params.assembly = "GRCh38"

nextflow.enable.strict = true
